$screen-sm-min: 640px;
$screen-md-min: 768px;
$screen-lg-min: 1024px;
$screen-xl-min: 1280px;

@mixin xl {
  @media (max-width: #{$screen-xl-min}) {
    @content;
  }
}

@mixin lg {
  @media (max-width: #{$screen-lg-min}) {
    @content;
  }
}

@mixin md {
  @media (max-width: #{$screen-md-min}) {
    @content;
  }
}

@mixin sm {
  @media (max-width: #{$screen-sm-min}) {
    @content;
  }
}

@mixin set-max-width {
  max-width: 1800px;
}
