@use "../_variables.scss" as variable;
@import "../_mixins.scss";

// vets ack
.vets-ack {
  background-color: variable.$white;
  color: variable.$secondary-color;
  text-align: center;
  padding: 80px 0;

  @include sm {
    padding: 80px 20px;
  }

  & > h1 {
    font-size: 38px;
    font-weight: 800;
    margin-bottom: 35px;

    @include sm {
      font-size: 28px;
    }
  }
  & > p {
    font-size: 22px;

    @include sm {
      font-size: 18px;
    }
  }
  & > p:nth-child(3) {
    font-size: 18px;
    margin: 20px 0;

    @include sm {
      font-size: 16px;
    }
  }
  &--pics {
    padding-top: 20px;
    & > img {
      margin: 0 10px;
      border-radius: 50%;
    }
  }
}
