@use "../_variables.scss" as variable;
@import "../_mixins.scss";

.outer-container {
  background-color: variable.$secondary-color;
  position: relative;
}

.container {
  position: relative;
  padding: 80px 100px;
  background: url(../../../public/imgs/6.jpg);
  background-attachment: fixed;
  background-position: center top;
  background-size: cover;

  background-repeat: no-repeat;
  margin: 0 auto;

  @include sm {
    padding: 80px 20px;
  }
  @include set-max-width;

  &--inner {
    position: relative;
    z-index: 2;
    & > h1 {
      font-size: 48px;
      font-weight: 800;
      text-align: center;
      color: variable.$white;
      padding: 10px 50px;
      border-radius: 20px;
      width: fit-content;
      margin: 0 auto;
      background-color: variable.$secondary-color;
      display: flex;
      align-items: center;

      & > img {
        height: 52px;
        width: 52px;
        margin: 0 20px;
        @include sm {
          height: 32px;
          width: 32px;
        }
      }

      @include md {
        font-size: 38px;
        padding: 10px;
      }
      @include sm {
        font-size: 28px;
      }
    }
    &--container {
      display: flex;
      flex-direction: column;
      align-content: space-between;
      margin-top: 50px;
    }

    &-box {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      @include md {
        flex-direction: column;
      }

      // justify-content: center;
      & > img {
        border-radius: 5px;
        height: auto;
        width: 450px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        @include lg {
          width: 400px;
        }
        @include md {
          width: 350px;
        }
      }

      &--textbox {
        background-color: variable.$secondary-color;
        color: variable.$white;
        padding: 20px;
        font-size: 18px;
        font-size: 22px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        height: 300px;
        display: flex;
        align-items: center;
        line-height: 36px;

        @include md {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
        }
      }
    }
    &-box--reverse {
      flex-direction: row-reverse;
      // margin-top: 10px;

      @include md {
        flex-direction: column;
      }
    }
  }
}

.layout {
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.or-container {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  background: variable.$secondary-color;
  display: flex;
  border: 1px solid variable.$primary-color;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
  z-index: 100;

  & > h3 {
    color: variable.$white;
    font-size: 36px;
  }

  @include md {
    left: 50%;
    top: 58%;
  }
  @include sm {
    left: 50%;
    top: 56%;
  }
}
