@use "../_variables.scss" as variable;
@import "../_mixins.scss";

.outer-container {
  position: relative;
  background: url(../../../public/imgs/6.jpg);
  // background-attachment: fixed;
  background-position: center top -150px;
  background-repeat: no-repeat;
  background-size: contain;

  @include xl {
    background-size: cover;
  }
}

.container {
  position: relative;
  padding: 80px 100px;

  background-repeat: no-repeat;
  margin: 0 auto;

  @include sm {
    padding: 80px 20px;
  }
  @include set-max-width;

  &--inner {
    // border: 1px solid red;
    position: relative;
    z-index: 2;
    & > h1 {
      font-size: 34px;
      font-weight: 800;
      text-align: center;
      color: variable.$white;
      padding: 10px 50px;
      border-radius: 20px;
      width: fit-content;
      margin: 0 auto;
      background-color: variable.$secondary-color;
      display: flex;
      align-items: center;

      & > img {
        height: 52px;
        width: 52px;
        margin: 0 20px;
        @include sm {
          height: 32px;
          width: 32px;
        }
      }

      @include md {
        font-size: 24px;
        padding: 10px;
      }
      @include sm {
        font-size: 28px;
      }
    }
    &--container {
      display: flex;
      // border: 1px solid green;

      align-content: space-between;
      margin-top: 150px;

      @include lg {
        flex-direction: column;
      }
      @include sm {
        flex-direction: column;
      }
    }

    &-box {
      // border: 2px solid blue;
      position: relative;

      @include lg {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      @include md {
        flex-direction: column;
      }

      // justify-content: center;
      & > img {
        border-radius: 5px;
        height: auto;
        width: 100%;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        @include lg {
          width: 500px;
          border: 1px solid variable.$primary-color;
        }
        @include md {
          width: 350px;
        }
      }

      &--textbox {
        background-color: variable.$secondary-color;
        color: variable.$white;
        padding: 20px;
        font-size: 18px;
        font-size: 22px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        position: absolute;
        height: 220px;
        display: flex;
        align-items: center;
        opacity: 0.9;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        line-height: 36px;

        @include lg {
          font-size: 14px;
          line-height: 23px;
          height: 160px;
        }

        @include md {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
        }

        @include sm {
          width: 350px;
        }
      }
    }
    &-box--reverse {
      flex-direction: row-reverse;
      // margin-top: 10px;

      @include md {
        flex-direction: column;
      }
    }
  }
}

.layout {
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.or-container {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  background: variable.$secondary-color;
  display: flex;
  border: 1px solid variable.$primary-color;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
  z-index: 100;

  & > h3 {
    color: variable.$white;
    font-size: 36px;
    padding: 0;
    margin: 0;
  }

  @include md {
    left: 50%;
    top: 65%;
  }
  @include sm {
    left: 50%;
    top: 66%;
  }
}
