.container {
  padding-top: 150px;
  width: 100%;
}

.aboutus {
  &--intro-section {
    text-align: center;

    & > h1 {
      font-weight: 800;
    }
  }

  &--dogs-count {
    text-align: center;
    font-size: 32px;

    input {
      font-size: 32px;
    }
  }

  &--user-info {
    text-align: center;
    font-size: 32px;

    input {
      font-size: 32px;
    }
  }
}
